:root {
    --dis-primary: #ffffff;
    --dis-blue: #0161fe;
    --dis-light: #b4d0e6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;

}

.top-right,
.top-left {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0;
}

.nav-head {
    display: flex;
    gap: 16px;
}

.nav-head a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.login {
    background-color: var(--dis-blue);
    color: var(--dis-primary);
    padding: 6px 10px;
    border: none;
}

main {
    padding-top: 72px;
}

.jumbotron {
    background-color: var(--dis-light);
    position: relative;
    padding: 60px 20px 140px;
    overflow: visible;
}

.jumbotron-container {

    margin-left: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-right: 1000px;

}

.jumbotron-text {
    flex: 1;
}

.jumbotron-text-h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.jumbotron-text-p {
    font-size: .7rem;
    margin: 20px 0;
}

.cta-btn {
    background-color: #0061ff;
    color: #fff;
    border: 0;
    padding: 12px 24px;
    font-size: 1rem;
}

.jumbotron-image {
    flex: 1;
}

.jumbotron-image img {
    position: absolute;
    right: 10%;
    top: 160px;
    width: auto;
    max-width: 800px;
    min-width: 320px;
    height: auto;
}